<footer class="footer">
  <div class="footer_logoInner">
    <img class="footer_title" src="./assets/images/footer_title.png" alt="平和湯">
    <p class="footer_text">HEIWAYU</p>
  </div>
  <address class="footer_addressWrap">
    <span class="footer_address">神奈川県川崎市XXX区XX-XX-XX</span>
    <span class="footer_addressTel">03-3000-1234</span>
  </address>
  <p class="footer_copyRight">Copyright © 2023 Heiwayu All Right Reserved.</p>
</footer>