<header class="header" id="js-header">
  <div class="header_logoWrap">
    <img class="header_logo" src="./assets/images/header_logo.svg" alt="">
    <div class="header_logoInner">
      <img class="header_title" src="./assets/images/header_title.png" alt="平和湯">
      <p class="header_text">HEIWAYU</p>
    </div>
  </div>
</header>
<div class="nav_hmbgWrap">
  <button class="nav_hmbg" id="js-navHmbg">
    <div class="nav_hmbgInner">
      <span class="nav_hmbgBorder"></span>
      <span class="nav_hmbgBorder"></span>
      <span class="nav_hmbgBorder"></span>
    </div>
  </button>
</div>
<nav id="js-nav" class="nav">
  <div class="nav_inner">
    <ul class="nav_list">
      <li class="nav_listItem">
        <a class="nav_listLink" href="#about">平和湯とは</a>
      </li>
      <li class="nav_listItem">
        <a class="nav_listLink" href="#bath">温泉</a>
      </li>
      <li class="nav_listItem">
        <a class="nav_listLink" href="#sauna">サウナ</a>
      </li>
      <li class="nav_listItem">
        <a class="nav_listLink" href="#price">料金</a>
      </li>
      <li class="nav_listItem">
        <a class="nav_listLink" href="#access">アクセス</a>
      </li>
    </ul>
  </div>
</nav>
