@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;700&family=Noto+Serif:wght@500;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, button, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

li, dd {
  list-style-type: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

img {
  vertical-align: bottom;
  border: none; }

input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  border: none;
  box-sizing: border-box; }
  input[type="submit"]::-webkit-search-decoration,
  input[type="button"]::-webkit-search-decoration {
    display: none; }
  input[type="submit"]::focus,
  input[type="button"]::focus {
    outline-offset: -2px; }

/*
 +	common variable
 */
/*
 + fontfamily変数	
 */
/*
 + 	カラーを格納する変数
 +
 + 用途(できるだけ伝わりやすい英語)-種類(英字1文字)で変数名をつけること
 + ex : primary(サイトイメージカラー)-s(セカンダリカラー)  lはライトカラー,dは暗いカラーのように
 */
/*
 +	共通で使うmixinはここにまとめる
 */
@-webkit-keyframes imageAnimationAfter {
  0% {
    width: 0%;
    right: auto;
    left: 0; }
  35% {
    width: 100%;
    right: auto;
    left: 0; }
  65% {
    width: 100%;
    right: 0;
    left: auto; }
  100% {
    width: 0%;
    right: 0;
    left: auto; } }
@keyframes imageAnimationAfter {
  0% {
    width: 0%;
    right: auto;
    left: 0; }
  35% {
    width: 100%;
    right: auto;
    left: 0; }
  65% {
    width: 100%;
    right: 0;
    left: auto; }
  100% {
    width: 0%;
    right: 0;
    left: auto; } }

/* chrome, edge */
/*
 +	core css
 */
* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: YuGothic, "Yu Gothic Medium", "Yu Gothic", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Droid Sans", "Noto Sans JP", sans-serif;
  color: #000;
  letter-spacing: 0.2em; }
  body.add-lock {
    overflow: hidden; }

@media screen and (min-width: 768px) {
  .contents {
    margin-left: 55px; } }

a {
  transition: opacity .2s;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    opacity: 0.7; }

img {
  width: 100%;
  height: auto;
  vertical-align: bottom; }

.part_title {
  text-align: center;
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", HG明朝E, ＭＳＰ明朝, "MS 明朝", "Noto Serif JP", serif;
  font-size: 5vw;
  color: #102a4d;
  position: relative;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(30px);
  transition: transform 0.5s, opacity 0.5s; }
  .part_title.add-inView {
    opacity: 1;
    transform: translateY(0); }
  @media screen and (min-width: 768px) {
    .part_title {
      font-size: 24px; } }
  .part_title::before {
    content: '';
    height: 1px;
    width: 35vw;
    background-color: #102a4d;
    position: absolute;
    top: calc(50% + 1.5px);
    right: 50%;
    transform: translate(50%, -50%); }
    @media screen and (min-width: 768px) {
      .part_title::before {
        width: 200px; } }
  .part_title .mod-en {
    font-size: 3vw;
    display: inline-block;
    margin-top: 3vw; }
    @media screen and (min-width: 768px) {
      .part_title .mod-en {
        font-size: 16px;
        margin-top: 20px; } }

.about {
  text-align: center;
  padding: 13vw 0;
  background: url(../images/about_background.jpg) no-repeat center center/cover; }
  @media screen and (min-width: 768px) {
    .about {
      padding: 80px 0;
      background: url(../images/pc/about_background.jpg) no-repeat center center/cover; } }

.about_text {
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", HG明朝E, ＭＳＰ明朝, "MS 明朝", "Noto Serif JP", serif;
  font-size: 3.4vw;
  color: #102a4d;
  margin-top: 5vw;
  line-height: 1.5; }
  @media screen and (min-width: 768px) {
    .about_text {
      font-size: 14px;
      margin-top: 40px; }
      .about_text:not(.mod-first) {
        margin-top: 20px; } }

.bath, .sauna, .price, .access {
  margin-top: 7.5vw;
  padding: 7.5vw 4vw 0; }
  @media screen and (min-width: 768px) {
    .bath, .sauna, .price, .access {
      margin: 50px auto 0;
      padding: 50px 40px 0;
      max-width: 900px; } }

@media screen and (min-width: 768px) {
  .bath_inner, .sauna_inner {
    display: flex;
    margin-top: 35px;
    justify-content: space-between;
    align-items: center; } }

@media screen and (min-width: 768px) {
  .sauna_inner {
    flex-direction: row-reverse; } }

@media screen and (max-width: 767px) {
  .bath_imgWrap, .sauna_imgWrap {
    margin-top: 3.2vw; } }

@media screen and (min-width: 768px) {
  .bath_imgWrap, .sauna_imgWrap {
    width: 48%; } }

.bath_text, .sauna_text {
  font-size: 3.4vw;
  line-height: 1.5;
  text-align: justify; }
  @media screen and (max-width: 767px) {
    .bath_text, .sauna_text {
      margin-top: 3.2vw; } }
  @media screen and (min-width: 768px) {
    .bath_text, .sauna_text {
      font-size: 14px;
      width: 48%; } }

.price_table {
  margin-top: 3.2vw;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .price_table {
      margin-top: 35px; } }

.price_tableItem {
  width: 100%;
  border-top: 1px solid #102a4d;
  font-size: 3.4vw;
  line-height: 1.5; }
  .price_tableItem:last-child {
    border-bottom: 1px solid #102a4d; }
  @media screen and (min-width: 768px) {
    .price_tableItem {
      font-size: 14px; } }

.price_tableElement {
  width: 75%;
  padding: 2vw 6vw; }
  @media screen and (min-width: 768px) {
    .price_tableElement {
      padding: 15px 30px; } }

.price_tablePrice {
  width: 25%;
  padding: 2vw 6vw;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .price_tablePrice {
      padding: 15px 30px; } }

.access {
  text-align: center; }

.access_textWrap {
  margin-top: 4vw; }
  @media screen and (min-width: 768px) {
    .access_textWrap {
      margin-top: 35px; } }

.access_address {
  font-size: 3.4vw;
  line-height: 1.5; }
  @media screen and (min-width: 768px) {
    .access_address {
      font-size: 14px; } }

.access_time {
  margin-top: 1.2vw;
  font-size: 3.4vw;
  line-height: 1.5; }
  @media screen and (min-width: 768px) {
    .access_time {
      font-size: 14px;
      margin-top: 10px; } }

.access_mapWrap {
  margin-top: 3.2vw;
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 70%; }
  @media screen and (min-width: 768px) {
    .access_mapWrap {
      margin-top: 30px;
      padding-top: 50%; } }

.access_map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.about_textWrap, .bath_text, .sauna_text, .price_table, .access_textWrap, .access_mapWrap {
  opacity: 0;
  transform: translateY(30px);
  transition: transform 0.5s, opacity 0.5s; }
  .about_textWrap.add-inView, .bath_text.add-inView, .sauna_text.add-inView, .price_table.add-inView, .access_textWrap.add-inView, .access_mapWrap.add-inView {
    opacity: 1;
    transform: translateY(0); }

.bath_imgWrap {
  position: relative; }
  .bath_imgWrap .bath_img, .bath_imgWrap .sauna_img {
    opacity: 0;
    transition: opacity 0s;
    transition-delay: 0.5s; }
  .bath_imgWrap:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    opacity: 1;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #102a4d; }
  .bath_imgWrap.add-inView .bath_img, .bath_imgWrap.add-inView .sauna_img {
    opacity: 1; }
  .bath_imgWrap.add-inView:after {
    -webkit-animation: imageAnimationAfter 1s both;
            animation: imageAnimationAfter 1s both; }

.sauna_imgWrap {
  position: relative; }
  .sauna_imgWrap .bath_img, .sauna_imgWrap .sauna_img {
    opacity: 0;
    transition: opacity 0s;
    transition-delay: 0.5s; }
  .sauna_imgWrap:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    opacity: 1;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #102a4d; }
  .sauna_imgWrap.add-inView .bath_img, .sauna_imgWrap.add-inView .sauna_img {
    opacity: 1; }
  .sauna_imgWrap.add-inView:after {
    -webkit-animation: imageAnimationAfter 1s both;
            animation: imageAnimationAfter 1s both; }

.footer {
  background-color: #000;
  color: #fff;
  margin-top: 13vw;
  padding: 5vw 0 3vw;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .footer {
      margin: 100px 0 0 55px;
      padding: 35px 0 8px; } }

.footer_logoInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1.8vw;
  transform: translateX(-1.1vw); }
  @media screen and (min-width: 768px) {
    .footer_logoInner {
      margin-left: 15px;
      transform: translateX(-10px); } }

.footer_title {
  width: 31vw; }
  @media screen and (min-width: 768px) {
    .footer_title {
      width: 140px; } }

.footer_text {
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", HG明朝E, ＭＳＰ明朝, "MS 明朝", "Noto Serif JP", serif;
  font-size: 3vw;
  margin-top: 0.3vw;
  transform: translateX(1.2vw); }
  @media screen and (min-width: 768px) {
    .footer_text {
      font-size: 12px;
      margin-top: 5px;
      transform: translateX(5px); } }

.footer_addressWrap {
  font-size: 3.4vw;
  line-height: 1.5;
  margin-top: 2vw; }
  @media screen and (min-width: 768px) {
    .footer_addressWrap {
      font-size: 12px;
      margin-top: 20px; } }

.footer_address {
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", HG明朝E, ＭＳＰ明朝, "MS 明朝", "Noto Serif JP", serif;
  display: block; }

.footer_addressTel {
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", HG明朝E, ＭＳＰ明朝, "MS 明朝", "Noto Serif JP", serif;
  display: block; }
  @media screen and (min-width: 768px) {
    .footer_addressTel {
      margin-top: 3px; } }

.footer_copyRight {
  font-size: 2.7vw;
  margin-top: 5vw; }
  @media screen and (min-width: 768px) {
    .footer_copyRight {
      font-size: 10px;
      margin-top: 20px; } }

.header {
  position: fixed;
  visibility: hidden;
  top: 0;
  opacity: 0;
  z-index: 10;
  transition: visibility 0.5s,opacity 0.5s;
  border-bottom: solid 1px #102a4d; }
  .header.add-visible {
    opacity: 1;
    visibility: visible; }
  @media screen and (min-width: 768px) {
    .header {
      margin-left: 55px; } }

.header_logoWrap {
  border-top: solid #102a4d 1vw;
  padding: 1.5vw 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw; }
  @media screen and (min-width: 768px) {
    .header_logoWrap {
      border-top: solid #102a4d 5px;
      padding: 8px 0; } }

.header_logo {
  width: 15vw;
  transform: translateX(-1.1vw); }
  @media screen and (min-width: 768px) {
    .header_logo {
      width: 70px;
      transform: translateX(-30px); } }

.header_logoInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1.8vw;
  transform: translateX(-1.1vw); }
  @media screen and (min-width: 768px) {
    .header_logoInner {
      margin-left: 10px;
      transform: translateX(-30px); } }

.header_title {
  width: 31vw; }
  @media screen and (min-width: 768px) {
    .header_title {
      width: 140px; } }

.header_text {
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", HG明朝E, ＭＳＰ明朝, "MS 明朝", "Noto Serif JP", serif;
  font-size: 3vw;
  margin-top: 0.3vw;
  color: #102a4d;
  transform: translateX(1.2vw); }
  @media screen and (min-width: 768px) {
    .header_text {
      font-size: 12px;
      margin-top: 2px;
      transform: translateX(2px); } }

.kv_logoWrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.5vw 0;
  border-top: solid #102a4d 1vw; }
  @media screen and (min-width: 768px) {
    .kv_logoWrap {
      border-top: solid #102a4d 5px;
      padding: 13px 0; } }

.kv_logo {
  width: 18vw; }
  @media screen and (min-width: 768px) {
    .kv_logo {
      width: 80px; } }

.kv_title {
  width: 29vw;
  margin-top: 1.2vw; }
  @media screen and (min-width: 768px) {
    .kv_title {
      width: 128px;
      margin-top: 8px; } }

.kv_text {
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", HG明朝E, ＭＳＰ明朝, "MS 明朝", "Noto Serif JP", serif;
  font-size: 3.2vw;
  color: #102a4d;
  margin-top: 0.3vw;
  transform: translateX(0.6vw); }
  @media screen and (min-width: 768px) {
    .kv_text {
      font-size: 13px;
      transform: translateX(2px);
      margin-top: 3px; } }

.kv_main {
  position: relative; }

.kv_mainTextWrap {
  position: absolute;
  z-index: 2;
  top: 14vw;
  right: 6vw;
  color: #fff;
  font-size: 3.8vw;
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", HG明朝E, ＭＳＰ明朝, "MS 明朝", "Noto Serif JP", serif;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
  letter-spacing: 0.32em; }
  @media screen and (min-width: 768px) {
    .kv_mainTextWrap {
      font-size: 16px;
      top: 30px;
      right: 5vw;
      padding: 20px 8px; } }

.kv_mainTextInner {
  position: relative; }

.kv_mainText {
  position: relative;
  z-index: 2;
  opacity: 0;
  display: inline-block;
  transition: opacity 0.5s;
  transition-delay: 3.75s; }
  .add-loaded .kv_mainText {
    opacity: 1; }
  .kv_mainText::after {
    margin-top: 5px;
    content: '';
    display: inline-block;
    width: 1px;
    background-color: #fff;
    height: 3em; }

.kv_mainTextBackground {
  z-index: 1;
  position: absolute;
  top: -1.5em;
  left: -0.375em;
  content: '';
  display: block;
  background-color: #102a4d;
  width: 1.75em;
  height: 0;
  transition: height 0.5s;
  transition-delay: 3s; }
  .add-loaded .kv_mainTextBackground {
    height: 19.5em; }

.kv_mainImage {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  min-height: 100vw;
  height: calc(var(--loadVh, 1vh) * 100 - var(--kvLogoWrapHeight)); }
  @media screen and (min-width: 768px) {
    .kv_mainImage {
      min-height: 370px;
      max-height: 700px; } }

.kv_scroll {
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", HG明朝E, ＭＳＰ明朝, "MS 明朝", "Noto Serif JP", serif;
  color: #fff;
  position: absolute;
  top: 90%;
  right: 50%;
  transform: translateX(50%);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  transition: opacity 0.5s;
  opacity: 0;
  transition-delay: 4.25s; }
  .add-loaded .kv_scroll {
    opacity: 1; }
  .kv_scroll:hover {
    opacity: 0.7 !important; }
  .kv_scroll::after {
    content: '';
    display: inline-block;
    background-color: #fff;
    width: 1px;
    margin-top: 1vw;
    transition: height 1s;
    transition-delay: 4.25s;
    height: 0; }
    @media screen and (min-width: 768px) {
      .kv_scroll::after {
        margin-top: 5px;
        -webkit-animation-name: kv_scrollPc;
                animation-name: kv_scrollPc; } }
    .add-loaded .kv_scroll::after {
      height: 7vw; }
      @media screen and (min-width: 768px) {
        .add-loaded .kv_scroll::after {
          height: 35px; } }
  @media screen and (min-width: 768px) {
    .kv_scroll {
      top: 89%; } }

.loading {
  width: 100%;
  position: fixed;
  height: 100vh;
  height: calc(var(--loadVh, 1vh) * 100);
  height: 100dvh;
  background-color: #fff;
  z-index: 12;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s;
  transition-delay: 2.5s; }
  .add-loaded .loading {
    visibility: hidden;
    opacity: 0; }

.loading_logoWrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.5vw 0;
  opacity: 0;
  transition: opacity 0.5s;
  transition-delay: 0.5s; }
  .add-loaded .loading_logoWrap {
    opacity: 1; }
  @media screen and (min-width: 768px) {
    .loading_logoWrap {
      padding: 13px 0; } }

.loading_logo {
  width: 18vw; }
  @media screen and (min-width: 768px) {
    .loading_logo {
      width: 80px; } }

.loading_title {
  width: 29vw;
  margin-top: 1.2vw; }
  @media screen and (min-width: 768px) {
    .loading_title {
      width: 128px;
      margin-top: 8px; } }

.loading_text {
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", HG明朝E, ＭＳＰ明朝, "MS 明朝", "Noto Serif JP", serif;
  font-size: 3.2vw;
  color: #102a4d;
  margin-top: 0.3vw;
  transform: translateX(0.6vw); }
  @media screen and (min-width: 768px) {
    .loading_text {
      font-size: 13px;
      transform: translateX(2px);
      margin-top: 3px; } }

.nav_hmbgWrap {
  position: fixed;
  top: 4.8vw;
  right: 0;
  z-index: 11; }
  @media screen and (min-width: 768px) {
    .nav_hmbgWrap {
      left: 0;
      top: 0;
      background-color: #102a4d;
      width: 55px;
      height: 100%; } }

.nav_hmbg {
  width: 18vw;
  padding: 2vw;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer; }
  @media screen and (min-width: 768px) {
    .nav_hmbg {
      width: 55px;
      padding: 15px 8px;
      transition: opacity .2s; }
      .nav_hmbg:hover {
        opacity: 0.7; } }

.nav_hmbgInner {
  position: relative;
  height: 6vw;
  display: inline-block;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .nav_hmbgInner {
      height: 30px; } }

.nav_hmbgBorder {
  display: inline-block;
  height: 2px;
  background-color: #102a4d;
  width: 60%;
  position: absolute;
  z-index: 12;
  right: 50%;
  transform: translateX(50%);
  transform-origin: center;
  transition: opacity 0.5s,top 0.5s,bottom 0.5s,right 0.5s,transform 0.5s; }
  @media screen and (min-width: 768px) {
    .nav_hmbgBorder {
      background-color: #fff;
      width: 100%; } }
  .nav_hmbgBorder:nth-child(1) {
    top: 0; }
  .nav_hmbgBorder:nth-child(2) {
    top: calc(50% - 1px); }
  .nav_hmbgBorder:nth-child(3) {
    bottom: 0; }
  .add-open .nav_hmbgBorder:nth-child(1) {
    top: calc(50% - 1px);
    transform: rotate(45deg) translateX(0%);
    right: 20%; }
    @media screen and (min-width: 768px) {
      .add-open .nav_hmbgBorder:nth-child(1) {
        right: 2%; } }
  .add-open .nav_hmbgBorder:nth-child(2) {
    opacity: 0; }
  .add-open .nav_hmbgBorder:nth-child(3) {
    bottom: calc(50% - 1px);
    transform: rotate(-45deg) translateX(0%);
    right: 20%; }
    @media screen and (min-width: 768px) {
      .add-open .nav_hmbgBorder:nth-child(3) {
        right: 2%; } }

.nav {
  position: fixed;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100 - var(--headerHeight));
  top: calc(var(--headerHeight));
  left: 0;
  z-index: 10;
  visibility: hidden;
  background: url(../images/nav_background.jpg) no-repeat center center/cover;
  transition: visibility 0.5s,opacity 0.5s;
  opacity: 0; }
  .nav.add-open {
    visibility: visible;
    opacity: 1; }
  @media screen and (min-width: 768px) {
    .nav {
      margin-left: 55px;
      background: url(../images/pc/nav_background.jpg) no-repeat center center/cover; } }

.nav_inner {
  position: relative;
  height: calc(var(--vh, 1vh) * 100 - var(--headerHeight));
  display: flex;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 768px) {
    .nav_inner {
      min-height: 500px; } }

@media screen and (min-width: 768px) {
  .nav_list {
    transform: translateX(-30px); } }

.nav_listItem {
  text-align: center; }

.nav_listLink {
  color: #fff;
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", HG明朝E, ＭＳＰ明朝, "MS 明朝", "Noto Serif JP", serif;
  padding: 4vw 0;
  font-size: 4vw;
  display: inline-block; }
  @media screen and (min-width: 768px) {
    .nav_listLink {
      padding: 20px 0;
      font-size: 16px; } }

.util-pc {
  display: none; }
  @media screen and (min-width: 768px) {
    .util-pc {
      display: block; } }

.util-sp {
  display: block; }
  @media screen and (min-width: 768px) {
    .util-sp {
      display: none; } }

@media print {
  html {
    zoom: 0.8; } }
