
.header {
  position: fixed;
  visibility: hidden;
  height: 0;
  top: 0;
  opacity: 0;
  z-index: 10;
  transition: visibility 0.5s,opacity 0.5s;
  &.add-visible {
    opacity: 1;
    height: auto;
    visibility: visible;
  }
}
.header_logoWrap {
  border-top: solid $primary-b 1vw;
  padding: 1.5vw 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.header_logo {
  width: 15vw;
  transform: translateX(-1.1vw);
}
.header_logoInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1.8vw;
  transform: translateX(-1.1vw);
}
.header_title {
  width: 31vw;
}
.header_text {
  font-family: $font_mincho;
  font-size: 3vw;
  margin-top: 0.3vw;
  color: $primary-b;
  transform: translateX(1.2vw);
}
